@tailwind base;
@tailwind components;
@tailwind utilities;

.background-Image {
  background-image: url("../public//BannerImage/VAM_Banner1.jpg");
  /* You can specify other background properties such as size, position, and repeat */
  background-size: cover; /* Cover the entire element */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
}
